body {
  background-color: lightgray;
  font-family: Arial, sans-serif;
}
.blog-post-card {
  border-radius: 20px; 
background-color:white;
width:500px;
text-align:center;
}
.post-content {
padding:20px;
}
.read-more:hover {
  background-color: rosybrown; 
}
.read-more {
  background-color: black; 
  color: white; 
  display: inline-block;
  margin:15px;
  border-radius:4px;
  padding:20px;
}
.post-img {
  width: 100%;
  max-width: 100%; 
  display: block;   
  border-bottom:5px solid #333;
}
.post-title {
  margin: 10px 0;
  color: #222;
}
.post-excerpt {
 margin: 10px 0;
 color: #555;
}
